*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 100px;
    width: 100%;
    background-image: url("./bg-intro-desktop.png"), linear-gradient(to top, hsl(0, 100%, 74%) 50% , hsl(0, 100%, 74%) 50% );
    height: 100vh;
}
 .content{
     font-size: 20px;
     font-weight: 800;
     color: white;
     margin-left: 15px;
 }
 .content .par{
     font-size: 13px;
    font-weight: 400;
    color: #fff;
    line-height: 24px;
    margin-top: 20px;
 }
 .top{

    width: 100%;
    background-color:hsl(248, 32%, 49%); 
    border: 1px solid hsl(248, 32%, 49%) ;
    border-radius: 4px;
    padding: 10px;
    font-size: 12px;
    font-weight: 800;
    margin-bottom: 20px;
 }
 .top span{
     color: hsl(246, 25%, 77%);
    
 }


 .top h4{
     color: #fff;
     text-align: center;
 }
 .form{
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 360px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
 }
 .form input{
    width: 100%;
    height: 25px; 
    margin-top: 20px;
    margin-left: 2px;
    padding-left: 20px; 
    border: 1px solid hsl(246, 25%, 77%);
    
    outline-color: hsl(249, 10%, 26%);;
 }
 button{
    margin-left: 2px;
     margin-top: 10px;
     height: 27px;
     width: 100%;
     color: #fff;
     background-color: hsl(154, 59%, 51%);
     border-bottom-left-radius: 1px;
     border-top-left-radius:1px;
     border-top-right-radius:1px;
     border-bottom-right-radius:1px;
     border-color: hsl(154, 59%, 51%) ;
 }
 .form .foot{
    margin-top: 10px;
    color: hsl(249, 10%, 26%);
    font-size: 9px;
    margin-left: 8px;
    text-align: center;
 }
 .foot span{
     color: hsl(0, 100%, 74%);
     font-weight: 600;
 }
 ::placeholder{
     color:hsl(246, 25%, 77%) ;
 }
 .foot input:active::placeholder{
    color:hsl(0, 100%, 74%) ;
 }
 button:active::placeholder{
    color:hsl(0, 100%, 74%) ;
 }

 @media screen and (max-width:650px){

 main {
     flex-direction: column;
    width: 100%;
    background: linear-gradient(to top, hsl(0, 100%, 74%) 50% , hsl(0, 100%, 74%) 50% ), url(./293943\,xcitefun-cold-desert.jpg);
    height: auto; 
 }
 .content{
    padding-top: 55px;
    font-size: 10px;
    font-weight: 800;
    color: white;
    text-align: center;
}
 h1{
    text-align: center;
}
.content .par p{
    font-size: 7px;
   font-weight: 400;
   text-align: center;
   color: #fff;
} 
 }
 @media screen and (max-width:375px){

    main {
        flex-direction: column;
       width: 100%;
       background-image: url("./bg-intro-desktop.png"), linear-gradient(to top, hsl(0, 100%, 74%) 50% , hsl(0, 100%, 74%) 50% );
       height: auto; 
    }
    .content{
       padding-top: 55px;
       font-size: 7px;
       font-weight: 800;
       color: white;
       text-align: center;
   }
    h1{
        margin-left: -3px;
       text-align: center;
       font-size: 27px;
   }
   .content .par p{
       font-size: 11px;
      font-weight: 400;
      line-height: 24px;
      /* text-align: center; */
      color: #fff;
      margin-top: 20px;
      margin-left: -116px;
      width: 350px;
      padding-left: 83px;
   } 
   .top{

    width: 93%;
    background-color:hsl(248, 32%, 49%); 
    border: 1px solid hsl(248, 32%, 49%) ;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: -61px;
    margin-left: 13px;
    padding-left: 25px;
 }
 .form{
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 349px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 13px;
    margin-bottom: 42px;
    
 }
 .form input{
    width: 93%;
    height: 25px; 
    margin-top: 20px;
    margin-left: 9px;
    padding-left: 16px; 
    border: 1px solid hsl(246, 25%, 77%);
    
    outline-color: hsl(249, 10%, 26%);;
 }
 button{
    margin-left: 9px;
     margin-top: 10px;
     height: 27px;
     width: 93%;
     color: #fff;
     background-color: hsl(154, 59%, 51%);
     border-bottom-left-radius: 1px;
     border-top-left-radius:1px;
     border-top-right-radius:1px;
     border-bottom-right-radius:1px;
     border-color: hsl(154, 59%, 51%) ;
 }
 .form .foot{
    margin-top: 10px;
    color: hsl(249, 10%, 26%);
    font-size: 9px;
    margin-left: 22px;
    text-align: center;
    width: 81%;
    }
}